<div>
  <%= link_to cocktail_path(cocktail), class: "card-link" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cocktail.image_url %>')">
      <h3><%= cocktail.name %></h3>
    </div>
  <% end %>
</div>
